@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color:#C0C0C0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
      color:#03A4FE;
    background: #0B0D0E;
  }
}
.randomShape{
  border-radius: 60% 39% 41% 35%;
}

::-webkit-scrollbar{
  background: black;
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #C0C0C0;
  outline: 1px solid slategrey;
}
.custom-shape-divider-bottom-1664989231 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1664989231 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 195px;
}

.custom-shape-divider-bottom-1664989231 .shape-fill {
  fill: #2C1C6E;
}